.profile__add-button {
  height: 46px;
  min-width: 146px;
  border: 2px solid #FFFFFF;
  background-image: url("../../../icons/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s;
}

.profile__add-button:hover {
  background-color: #000000;
  opacity: .6;
}

@media (max-width: 910px)  {
  .profile__add-button {
    min-width: 278px;
  }
}